body {
  background-color: rgb(27, 26, 27);
}

#header {
  width: 100%;
  margin-bottom: 15px;
}

#content {
  padding: 1.5%;
  width: 100%;
}

.frosted-glass {
  background-color: #ffffff25;
}

footer {
  background-color: #ffffff25;
  border-color: rgb(173, 77, 221);
}
