<div class="background">
  <header id="header">
    <div id="header_logo">
      <a href="/" aria-label="Go to Home">
        <img src="favicon.ico" alt="Website icon" width="60">
      </a>
    </div>
    <div id="user_icon"></div>
  </header>

  <main id="content" class="frosted-glass">
    <h1>Login</h1>
    <hr>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" id="login-button">Login</button>
    </form>
    <p>
      Don't have an account? <a href="/signup-page">Sign up</a>!
    </p>
  </main>

  <footer>
    <p>
      &copy; 2023 (Ahmed M. Hassan, Zoya Shaikh, Akhmad Masri) SWEN.261.600 -
      <a href="mailto:amh8077@rit.edu">Email us</a><br>
      Customer Support UAE: <a href="tel:+971526198772">+971-52-619-8772</a>
    </p>
  </footer>
</div>
