<img id="banner" src="banner.png" alt="banner">
<body>
  <div class="background">
    <div id="header" style="display: flex; text-align: center;">
      <div id="header_logo"><a routerLink="/home-page" aria-label="Go to Home"><img src="favicon.ico" alt="Website icon" width="60px"></a></div>
      <div style="flex: 15; overflow: hidden;">
      </div>
      <div id="user_icon" style="flex: 1; overflow: hidden;"></div>
    </div>
    <div>
      <div id="content" class="frosted-glass">
        <h1 style="text-align: center;">Sign up</h1><hr>
        <p>Some stuff here for main content. Events will be shown first, then any upcoming bookings, or apointments..</p>
        <p>Already have an account? <a routerLink="/login-page">Sign up</a>!</p>
      </div>
    </div>
    <footer>
      <p>
        &copy;   Copyright 2023 (Ahmed M. Hassan, Zoya Shaikh, Akhmad Masri, & Zeyad Abdalaziz) SWEN.261.600 - <a href="mailto:amh8077@rit.edu">Email us</a><br>
        Customer Support UAE <a href="tel:+971526198772">+971-52-619-8772</a>
      </p>
    </footer>
  </div>
</body>
