<router-outlet>
  <img id="banner" src="banner.png" alt="banner">
  <body>
    <div class="background">
      <div id="header" style="display: flex; text-align: center;">
        <div id="header_logo"><a routerLink="/home-page" aria-label="Go to Home"><img src="favicon.ico" alt="Website icon" width="60px"></a></div>
        <div style="flex: 15; overflow: hidden;">
          <a routerLink = "/login-page"><button class="sign_up_header_button">Sign up</button></a>
          <a routerLink = "/event-page"><button class="header_button">Events</button></a>
          <a routerLink = "/booking-page"><button class="header_button">Bookings</button></a>
          <a routerLink = "/appointment-page"><button class="header_button">Appointments</button></a>
        </div>
        <div id="user_icon" style="flex: 1; overflow: hidden;"><a><img src="default user icon.png" alt="Website icon" width="60px"></a></div>
      </div>
      <div>
        <div id="side_panel">
          <div class="frosted-glass-strong side_panel_top">
            Side panel
          </div>
          <div class="frosted-glass side_panel_bottom">
            Something to be said in the side panel...
          </div>
        </div>
        <div id="content" class="frosted-glass">
          <h1 style="text-align: center;">Bookings</h1><hr>
          <p>Some stuff here for main content. Events will be shown first, then any upcoming bookings, or apointments..</p>
        </div>
      </div>
      <footer>
        <p>
          &copy;   Copyright 2023 (Ahmed M. Hassan, Zoya Shaikh, Akhmad Masri, & Zeyad Abdalaziz) SWEN.261.600 - <a href="mailto:amh8077@rit.edu">Email us</a><br>
          Customer Support UAE <a href="tel:+971526198772">+971-52-619-8772</a>
        </p>
      </footer>
    </div>
  </body>
  </router-outlet>
